* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    background-image: url("jezioro.jpg");
}

main {
    background-color:rgba(75, 191, 236, 0.57);
}

nav {
    width: 200px; 
    top: 0;
}

p {
    margin: 0;
    padding: 2px;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: block;
    position: absolute;
}

nav > ul > li {
    float: left;
    background-color: cornflowerblue;
    font-weight: bold;
}

nav > ul > li:hover {
    background-color: rgba(100, 148, 237, 0.2);
}

li > ul > li:hover {
    background-color: rgba(65, 105, 225, 0.2);
}

li > ul > li {
    text-indent: 10%;
    background-color: royalblue;
    font-weight: normal;
}

li a {
    display: block;
    padding: 6px; 
    text-decoration: none;
    color: white;
    border: .1px dotted gray;
}

section {
    display: block;
    width: 100%; 
    overflow-y: scroll;
    background-color: skyblue;
    column-count: 1;
}

article {
    width: 100%;
    padding: 10px;
    break-inside: avoid;
    break-after: auto; 
}

h3 {
    color : blue;
    font-size: 2rem;
}

table {
    width: 100%;
    text-align: center;
}

th { 
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px dotted black;
}

footer {
    display: block;
    background-color: navy;
    padding: 1px;
    text-align: center;
    color: white;
    column-count: 3;
}

@media only screen and (min-width: 768px) {
    section {
        column-count: 2;
    }
}

/* hamburger menu */
/* ikona domyślnie nie jest widoczna */
nav .ham {
    display: none;
}
/* dla małych ekranów ikona jest domyślnie widoczna */
@media screen and (max-width: 768px) {
    nav a { 
        display: none;
    }
    nav .ham {
        display: block;
        width: auto;
    }
}
/* pionowe menu dla małych ekranów */
@media screen and (max-width: 768px) {
    nav.pion {
        width: 100%;
    }
    nav.pion li {
        float: none;
    }
    nav.pion li ul {
        display: block;
    }
    nav.pion li:hover ul {
        display: block;
        position: relative;
    }
    li > ul > li {
        text-indent: 0;
    }
    nav.pion a {
        display: block;
        text-align: center;
    }
}